@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import "helpers";
@import "variables";

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import 'overrides';


// customizations
.table td {
    vertical-align: middle;
}
.table td button {
    width: 35px;
}

// delete confirmation message 
.delete-message {
    top: 5px;
    position: relative;
    font-size: 1.2rem;
}
